<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Super Hero Agency{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
</head>
<body>
    <header>
        <a href="{{ path('app_super_hero_index') }}">Super Hero Agency</a>
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        Powered by Super Hero Agency - 2024
    </footer>
</body>
</html>
